<html>
	<title>
		Create New Restaurant
	</title>
	<h1>
		Create New Restaurant
	</h1>
	<body>
		<form action="/create" method="post" enctype="multipart/form-data">
			Restaurant ID: <input type="text" name="restaurantId" ><br>
			Name: <input type="text" name="name" required><br>
			Borough: <input type="text" name="borough"><br>
			Cuisine: <input type="text" name="cuisine"><br>
			Photo: <input type="file" name="filetoupload"><br>
			Address:<br>
			&#8195;	Street: <input type="text" name="street"><br>
			&#8195;	Building: <input type="text" name="building"><br>
			&#8195;	Zipcode: <input type="text" name="zipcode"><br>
			&#8195;	Coordx: <input type="text" name="coordx"><br>
			&#8195;	Coordy: <input type="text" name="coordy"><br>

			<input type="submit" value="Create"/>
		</form>
	</body>
</html>

