<html>
	<title>
		Search Restaurant
	</title>
	<h1>
		Search Restaurant
	</h1>
	<body>
		<form action="/search" method="post" enctype="multipart/form-data">
			Restaurant ID: <input type="text" name="restaurantId" ><br>
			Name: <input type="text" name="name"><br>
			Borough: <input type="text" name="borough"><br>
			Cuisine: <input type="text" name="cuisine"><br>
			Address:<br>
			&#8195;	Street: <input type="text" name="street"><br>
			&#8195;	Building: <input type="text" name="building"><br>
			&#8195;	Zipcode: <input type="text" name="zipcode"><br>
			&#8195;	Coordx: <input type="text" name="coordx"><br>
			&#8195;	Coordy: <input type="text" name="coordy"><br>
			Owner: <input type="text" name="owner"><br>
			<input type="submit" value="Search"/>
		</form>
	</body>
</html>

